.card{
    width: 255px;
    min-height: 157px;
    background-color: #F0F9FF;
   padding: 20px;
    
}
.card img{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
}
.card-num{
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: right;
    
}